node_modules
admin/node_modules
public
.env
.idea
*.log
.DS_Store
storage/public
Dall-e
voices
Variations
VariationsUpscales
Upscales
upscale
test
loading_upscales
Imagines
text-to-speech
conversions
converted